

body {
    background-color: rgba(161, 161, 184, 0.781);
    color: #000;
	font-family: 'Quicksand', 'Ubuntu', sans-serif; /* listo */
}

.padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;/*listo */
    padding: 1pt;/*listo */
}
.contenedorMenu {
    display: inline-flex;   /* Esta propiedad define al div como contenedor flex*/
    flex-direction: row; /*listo */
    flex-wrap: nowrap; /*listo */
    background-color: rgb(77, 62, 62);/* "transparente" */
    height: 1;  /*listo */
    align-content:flex-start;
}
.contenedorMenu > a {  /*Utilizamos selectores avanzados en lugar de clases */
    color: #000;
    background-color: rgb(255, 199, 126);
    border: 2px solid black;
    border-radius: 5px;
    flex-grow: 1;
    flex-basis: 100%;
    width: 120pt;  /*listo */
    height: 1;  /*listo */
    margin: 2pt;
    padding: 2pt;
    font-size: 12pt;
}

.menu{
    justify-content:flex-start;
    flex-shrink: inherit;
    top: 1%;
}

h1{font-size:20pt;}
h2{font-size:16pt;}
h3{font-size:12pt;}
h4{font-size:8pt;}

p{font-size: 12pt;}

.header, .articulo, .lateral, .footer {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10pt;
}

.desambiguacion:before {
    content: "Desambiguación: "
}
.desambiguacion {
    background: rgb(255, 0, 0, .5); 
    padding: 2px; 
}

.bloqueInfo {
    align-content:flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
/*     background-color: rgb(202, 205, 50); */
    height: 100%;
}
/* 
.bloqueInfo > div {
    background-color: rgb(19, 112, 39);
    margin: 10px; /* llevar a 0 
    padding: 0px;
}  *************************** eliminar */

.texto {
    width: 100%;
}

.imagen {
    max-width: 100%;
}

@media all and (max-width: 600px){
    .contenedorMenu {
        flex-direction: column;
/*         width: 100%; (la idea es que los botones ocupen la totalidad del espacio disponible y al llegar a 600 pasen a dividirse solo una fila en 3 secciones ocupando la totalidad y al llegar a 800 se queden en ese tamaño en el margen izquierdo */
    } /*listo */
    .contenedorMenu>a{
        width: ;
    }
    .delimitador {/*listo */
        position: relative;/*listo */
        width: 100%;/*listo */
        height: 0;/*listo */
        padding-bottom: 56.25%;/*listo */
    }
    .video {/*listo */
        position: absolute;/*listo */
        top: 0;/*listo */
        left: 0;/*listo */
        max-width: 560px;/*listo */
        width: 100%;/*listo, quedate tranqui que no se achica porque está el elemento del bloqueinfo con 500px que hace que no se pueda reducir */
        height: 100%;/*listo */
    }
    .bloqueInfo {
        display: flex;
        flex-direction: column; /* ok */   
        -webkit-box-align: center;
        box-align: center;  
        align-items: center;
/*         background-color: rgb(224, 169, 169); */
    }

    }
    .texto {
        flex: 1 1 auto; 
        padding: 10px;
        margin: 10px;
        text-align: left; /* listo */
    }

}
@media all and (max-width: 800px){
    .contenedorMenu {
        background-color: rgb(109, 167, 182);/* "transparente" */
        align-content:flex-start;
    }
    .video {
        justify-self: center;
    }
}

.header{background-color: rgb(255, 199, 126);}
.articulo{background-color: rgb(175, 175, 175);}
.footer{background-color: rgb(170, 230, 230);}
.menu:hover {
    animation-name: cambiarColor;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes cambiarColor {
    from {
        background-color: rgb(255, 199, 126);


        border: 2px solid black;
        border-radius: 5px;
    }

    to {
        background-color: rgb(170, 230, 230);
        border: 2px solid rgb(255, 199, 126);
        border-radius: 5px;
    }
}
