body {
    background-color: rgba(161, 161, 184, 0.781);
    color: #000;
	font-family: 'Quicksand', 'Ubuntu', sans-serif; /* listo */
}

.padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;/*listo */
    padding: 1pt;/*listo */
}
.contenedorMenu {
    display: inline-flex;   /* Esta propiedad define al div como contenedor flex*/
    flex-direction: row; /*listo */
    flex-wrap: nowrap; /*listo */
    background-color: rgba(255, 0, 0, 0);/* "transparente" */
    height: 1;  /*listo */
    align-content:flex-start;
}
.contenedorMenu > a {  /*Utilizamos selectores avanzados en lugar de clases */
    color: #000;
    background-color: rgb(255, 199, 126);
    border: 2px solid black;
    border-radius: 5px;
    flex-grow: 1;
    flex-basis: 100%;
    width: 120pt;  /*listo */
    height: 1;  /*listo */
    margin: 2pt;
    padding: 2pt;
    font-size: 12pt;
}
.bloqueInfo > div {
    flex-direction: row;
}
.menu{
    justify-content:flex-start;
    flex-shrink: inherit;
    position: sticky;
    top: 1%;
}

h1{font-size:20pt;}
h2{font-size:16pt;}
h3{font-size:12pt;}
h4{font-size:8pt;}

p{font-size: 12pt;}

.header, .articulo, .lateral, .footer {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10pt;
}

.desambiguacion:before {
    content: "Desambiguación: "
}
.desambiguacion {
    background: rgb(255, 0, 0, .5); 
    padding: 2px; 
}
@media all and (max-width: 600px){
    .lateral {flex: 1 1 auto;}
    .contenedorMenu {flex-direction: column;} /*listo */
    .delimitador {/*listo */
        position: relative;/*listo */
        width: 100%;/*listo */
        height: 0;/*listo */
        padding-bottom: 56.25%;/*listo */
    }
    .video {/*listo */
        position: absolute;/*listo */
        top: 0;/*listo */
        left: 0;/*listo */
        max-width: 560px;/*listo */
        width: 100%;/*listo */
        height: 100%;/*listo */
    }
    .bloqueInfo {flex-direction: column;}
    .img {
        width: 100%;
        height: auto;
    }

}
@media all and (max-width: 800px){
    .articulo{flex: 2 0 auto;}
    .articulo{order: 1;}
    .lateral{order: 2;}
    .footer{order: 3;}
}

.header{background-color: rgb(255, 199, 126);}
.articulo{background-color: rgb(175, 175, 175);}
.lateral{background-color: yellow;}
.footer{background-color: rgb(170, 230, 230);}
.menu:hover {
    animation-name: cambiarColor;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes cambiarColor {
    from {
        background-color: rgb(255, 199, 126);


        border: 2px solid black;
        border-radius: 5px;
    }

    to {
        background-color: rgb(170, 230, 230);
        border: 2px solid rgb(255, 199, 126);
        border-radius: 5px;
    }
}
